.cta {
  grid-area: cta;
  width: 100%;
  height: fit-content;
  border: 0.5px solid #d5d9d9;
  border-radius: 8px;
  padding: 14px 18px;
}

.cta *:not(.price) {
  font-size: 0.9rem;
}

.cta .returns {
  padding-bottom: 0.5rem;
}

.delivery {
  padding-top: 0.2rem;
}

.delivery span {
  color: #007600;
}

.fast {
  padding-top: 1rem;
}

.destination {
  padding-top: 1rem;
  align-items: center;
  gap: 0.4rem;
}

.cta .destination p {
  color: #007185;
  font-weight: 500;
  font-size: 0.75rem;
}

.cta .stock {
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #007600;
}

.cta form {
  padding-block: 0.8rem;
}

.cta form select {
  background-color: #f0f2f2;
  color: #4d4d4d;
  padding: 0.3rem;
  width: 100%;
  border: 0.3px solid #d5d9d9;
  border-radius: 3px;
}

.cta .cta-button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.6rem;
  border-radius: 100vw;
  border: none;
  background-color: #ffd814;
  font-size: 0.9rem;
  cursor: pointer;
}

.cta .cta-button:nth-of-type(2) {
  background-color: #ffa41c;
}

.cta-button + section {
  width: 80%;
  margin-top: 1.5rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
}
.cta .cta-button + section p {
  font-size: 0.8rem;
}

.gift {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.gift input {
  margin-top: 0.2rem;
}

.cta .gift label {
  font-size: 1rem;
}

.add-to-list {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border: 0.5px solid rgb(29, 29, 29);
  border-radius: 8px;
  width: 100%;
  text-align: start;
}

.other-sellers {
  margin-top: 1rem;
}

.cta.other-sellers h4 {
  font-size: 1rem;
  padding-bottom: 14px;
}

.other-sellers section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.cta.other-sellers section p {
  font-size: 1rem;
  font-weight: 500;
}
.cta.other-sellers section p sup {
  font-size: 0.6rem;
}
